/* GENERAL STYLE */
/* Reset */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}


body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* UTILITIES */
.p-15 {
    padding: 15px;
}

p {
    font-size: 13px;
}
/* HEADER */
.header-button {
    text-align: right;

}

.header-button a {
    color: white; 
    text-decoration: none;
    background-image: linear-gradient(#3b3b3b, #1b1b1b);
    padding: 7px;
    border-radius: 5px;
}

.header-button span {
    color: white; 
    text-decoration: none;
    background-image: linear-gradient(#3b3b3b, #1b1b1b);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}




/* MAIN */
main {
    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.partecipant {
    height: 150px;
    width: 250px;

    margin: 5px 5px;
    position: relative;
}

.partecipant img {
    height: 100%;  
    width: 100%; 
    object-fit: cover;
}

.info-partecipant {
   
    width: 100%;

    position: absolute;
    bottom: 0;
    color: white;
}

.info-partecipant p {
    display: inline;
    padding: 3px; 
    background-color: rgba(0, 0, 0, 0.7)
}

.partecipant:hover {
    bordeR: 3px solid #56ba07;
    
}




/* FOOTER */
footer {
    background-image: linear-gradient(#24282a, #1c2021);
    color: white;

    display: flex;
    justify-content: space-between;
    padding: px;
}

.button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;;
}
.button {
    text-align: center;
    margin: 0px 2px;
    cursor: pointer;

}

.button i {
    font-size: 23px;
    display: block; 
    margin-bottom: 10px;
   
}

.arrow i {
    font-size: 20px;

}

.share i {
    color: #49cb04;
    font-size: 25px;
}


.end {
    height: 100%;
    background-image: linear-gradient(#4c4d4f, #424747);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.end span {
     color: #e35045
}